*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(193, 23, 71);
}

.text-magenta{
  color: rgb(193, 23, 71);
}

.btn-gray{
  color: rgb(193, 23, 71);
  background-color: rgb(166, 166, 166);
  border: 1px solid gray;
}

.btn-gray:hover{
  background-color: rgba(166, 166, 166,0.5);
}